<header
    id="asu-header"
    class="fixed-top"
    data-elastic-exclude="data-elastic-exclude"
>
    <div id="wrapper-header-top">
        <div class="container-xl">
            <div class="row">
                <div id="header-top" class="col-12">
                    <nav class="nav" aria-label="Asu Global">
                        <a
                            class="nav-link visually-hidden-focusable"
                            href="#skip-to-content"
                        >
                            Skip to main content
                        </a>
                        <a
                            class="nav-link visually-hidden-focusable"
                            href="http://asu.edu/accessibility/feedback?a11yref=unity-design-system"
                        >
                            Report an accessibility problem
                        </a>
                        <a
                            class="nav-link"
                            href="https://asu.edu"
                            data-ga-header-section="topbar"
                            data-ga-header="asu home"
                        >
                            ASU Home
                        </a>
                        <a
                            class="nav-link"
                            href="https://my.asu.edu"
                            data-ga-header-section="topbar"
                            data-ga-header="my asu"
                        >
                            My ASU
                        </a>
                        <a
                            class="nav-link"
                            href="https://www.asu.edu/academics/colleges-schools"
                            data-ga-header-section="topbar"
                            data-ga-header="colleges and schools"
                        >
                            Colleges and Schools
                        </a>
                        <div class="nav-link login-status">
                            <a class="name" href="#">Sparky</a>
                            <a
                                class="signout"
                                href="#"
                                data-ga-header-section="topbar"
                                data-ga-header="sign out"
                            >
                                Sign Out
                            </a>
                        </div>
                        <form
                            class="form-inline"
                            action="https://search.asu.edu/search"
                            method="get"
                            name="gs"
                        >
                            <input
                                class="form-control"
                                type="search"
                                name="q"
                                aria-labelledby="header-top-search"
                                required=""
                                data-ga-input-header-event="search"
                            />
                            <label id="header-top-search">Search asu.edu</label>
                            <input
                                name="site"
                                type="hidden"
                                value="default_collection"
                            />
                            <input
                                name="sort"
                                type="hidden"
                                value="date:D:L:d1"
                            />
                            <input
                                name="output"
                                type="hidden"
                                value="xml_no_dtd"
                            />
                            <input name="ie" type="hidden" value="UTF-8" />
                            <input name="oe" type="hidden" value="UTF-8" />
                            <input
                                name="client"
                                type="hidden"
                                value="asu_frontend"
                            />
                            <input
                                name="proxystylesheet"
                                type="hidden"
                                value="asu_frontend"
                            />
                        </form>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper-header-main">
        <div class="container-xl">
            <div class="row">
                <div id="header-main" class="col-12">
                    <div class="navbar navbar-expand-xl">
                        <div class="container-fluid">
                            <a
                                class="navbar-brand"
                                href="https://www.asu.edu/"
                                data-ga-header="asu logo"
                            >
                                <img
                                    class="vert"
                                    src="arizona-state-university-logo-vertical.png"
                                    alt="Arizona State University"
                                    width="303"
                                    height="234"
                                    decoding="async"
                                    fetchpriority="high"
                                />
                                <img
                                    class="horiz"
                                    src="asu-university-horiz-maroongold.png"
                                    alt="Arizona State University"
                                    width="400"
                                    height="72"
                                    decoding="async"
                                    fetchpriority="high"
                                />
                            </a>
                            <button
                                class="navbar-toggler collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#menubar"
                                aria-controls="menubar"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                                data-ga-header-event="collapse"
                                data-ga-header-type="click"
                                data-ga-header="menu button label"
                            >
                                <span
                                    title="Open mobile menu"
                                    class="fa fa-bars"
                                    alt=""
                                ></span>
                                <span
                                    title="Close mobile menu"
                                    class="fa-stack"
                                >
                                    <i
                                        class="fa fa-circle fa-stack-2x"
                                        alt=""
                                    ></i>
                                    <i
                                        class="fa fa-times fa-stack-1x"
                                        alt=""
                                    ></i>
                                </span>
                            </button>
                            <div class="navbar-container no-links">
                                <div class="title-container">
                                    <div class="title subdomain-name">
                                        <a
                                            href="https://learningatscale.asu.edu/"
                                            data-ga-header="Subdomain name"
                                            title="Subdomain name home page"
                                        >
                                            Learning&#64;Scale Data Dictionary
                                        </a>
                                    </div>
                                    <app-search-bar></app-search-bar>
                                </div>                                
                                <div
                                    class="collapse navbar-collapse w-100 justify-content-between"
                                    id="menubar"
                                >
                                    <div class="navbar-mobile-footer pinned">
                                        <form
                                            class="form-inline navbar-mobile-search"
                                            action="https://search.asu.edu/search"
                                            method="get"
                                            name="gs"
                                        >
                                            <input
                                                class="form-control"
                                                type="search"
                                                name="q"
                                                aria-label="Search"
                                                placeholder="Search asu.edu"
                                            />
                                            <input
                                                name="site"
                                                type="hidden"
                                                value="default_collection"
                                            />
                                            <input
                                                name="sort"
                                                type="hidden"
                                                value="date:D:L:d1"
                                            />
                                            <input
                                                name="output"
                                                type="hidden"
                                                value="xml_no_dtd"
                                            />
                                            <input
                                                name="ie"
                                                type="hidden"
                                                value="UTF-8"
                                            />
                                            <input
                                                name="oe"
                                                type="hidden"
                                                value="UTF-8"
                                            />
                                            <input
                                                name="client"
                                                type="hidden"
                                                value="asu_frontend"
                                            />
                                            <input
                                                name="proxystylesheet"
                                                type="hidden"
                                                value="asu_frontend"
                                            />
                                        </form>
                                        <div class="nav-grid">
                                            <a
                                                class="nav-link"
                                                href="https://asu.edu"
                                                data-ga-header-section="topbar"
                                                data-ga-header="asu home"
                                            >
                                                ASU Home
                                            </a>
                                            <a
                                                class="nav-link"
                                                href="https://my.asu.edu"
                                                data-ga-header-section="topbar"
                                                data-ga-header="my asu"
                                            >
                                                My ASU
                                            </a>
                                            <a
                                                class="nav-link"
                                                href="https://www.asu.edu/academics/colleges-schools"
                                                data-ga-header-section="topbar"
                                                data-ga-header="colleges and schools"
                                            >
                                                Colleges and Schools
                                            </a>
                                            <a
                                                class="nav-link"
                                                href="https://weblogin.asu.edu/cgi-bin/login"
                                                data-ga-header-section="topbar"
                                                data-ga-header="sign in"
                                            >
                                                Sign In
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="wrapper" id="page-wrapper">
    <div id="skip-to-content" class="visually-hidden"></div>
</div>
