<h2>Search Results for "{{ query }}"</h2>

<div *ngIf="loading">
  <i class="fa fa-spinner fa-spin"></i> Loading...
</div>

<div *ngIf="!loading && error">
  {{ error }}
</div>

<div *ngIf="searchResults.length > 0" class="table-container">
  <div class="uds-table" tabindex="0">
    <table>
      <thead>
        <tr>
          <th>Label</th>
          <th>Friendly Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Source</th>
          <th>Name</th>
          <th>Dataset Name</th>
          <th>Sample Data</th>
          <th>De-Identified</th>
          <th>Additional Notes</th>
          <th>Data Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of searchResults">
          <td [innerHTML]="highlightMatch(result.label || 'N/A')"></td>
          <td [innerHTML]="highlightMatch(result.friendly_name || 'N/A')"></td>
          <td [innerHTML]="highlightMatch(result.description || 'N/A')"></td>
          <td [innerHTML]="highlightMatch(result.category || 'N/A')"></td>
          <td [innerHTML]="highlightMatch(result.source || 'N/A')"></td>
          <td [innerHTML]="highlightMatch(result.name || 'N/A')"></td>
          <td [innerHTML]="highlightMatch(result.dataset_name || 'N/A')"></td>
          <td [innerHTML]="highlightMatch(result.sample_data || 'N/A')"></td>
          <td [innerHTML]="highlightMatch(result.deidentified || 'N/A')"></td>
          <td [innerHTML]="highlightMatch(result.additional_notes || 'N/A')"></td>
          <td [innerHTML]="highlightMatch(result.data_type || 'N/A')"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

