<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  rel="stylesheet"
/>
<button
  (click)="toggleSidebar()"
  class="toggle-btn"
  title="Toggle Sidebar"
>
  <span class="fas fa-bars"></span>
</button>
<h1>Learning&#64;Scale Overview</h1>
<h2>Welcome</h2>
<p>
  Welcome to the Learning&#64;Scale Data Dictionary. Within this application, you will find
  details about the data elements currently available. Please note that this is a live web page
  and will be updated as more elements become available.
</p>
<h2>Navigation</h2>
<p>
  You can use the sidebar to navigate through different sections of the data dictionary. More details on the tables and their
  elements can be found in each section.
</p>
<img
    class="vert"
    src="asu students.jpeg"
    alt="Arizona State University Students"
    width="303"
    height="234"
    decoding="async"
    fetchpriority="high"
    />

    <style>
      .vert {
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
        height: 55vh; 
        object-fit: cover; /* Ensures the image covers the space while maintaining aspect ratio */
        object-position: center;  /* Centers the image */
      }
    </style>
